blockquote: em "Come now, let us reason together", says the LORD. "Though your sins are like scarlet, they shall be as white as snow; though they are red as crimson, they shall be like wool." - Isaiah 1:18